.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table,
td,
tr,
th {
  border: 1px double #cc13cc;
  padding: 1em;
}
table {
  margin: 2em;
}
p {
  font-size: 1.1em;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 1em;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 95%;
}
body header nav a {
  text-decoration: none;
  color: #000;
  padding: 1em;
  border: 3px groove #11c49d;
  border-radius: 50%;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 1em;
}
body main button {
  box-shadow: 5px 5px #1595c7;
  margin: 1.5em;
  font-size: 1.2em;
  padding: 1em;
  background-color: #0f2929;
  color: #1595c7;
}
body main button a {
  text-decoration: none;
  color: #1595c7;
  padding: 1em;
  border-radius: 50%;
}
body main .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  align-items: flex-start;
  justify-content: space-evenly;
}
body main .row .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .row .column ul li {
  font-size: 1.2em;
}
body main .row .column ul li a {
  text-decoration: none;
  color: #000;
  padding: 0 1em;
  border: 3px groove #11c49d;
}
body main .row .column ul li a:hover {
  color: #11c49d;
}
body main .row #images,
body main .row #temps {
  display: none;
}
body main .row #images .row,
body main .row #temps .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
body main .row #images .row .column,
body main .row #temps .row .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  margin: 1em;
  border: 3px groove #1595c7;
}
body main .row #images .row .column img,
body main .row #temps .row .column img {
  max-width: 250px;
}
body main .nasa {
  margin: 2em;
}
body main .nasa button {
  box-shadow: 5px 5px #1595c7;
  margin: 1.5em;
  font-size: 1.2em;
  padding: 1em;
  background-color: #0f2929;
  color: #1595c7;
}
body main .nasa .photo img {
  max-width: 400px;
  display: none;
}
body main .api {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  flex-wrap: wrap;
}
body main .api div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  margin: 1em;
  border: 3px groove #1595c7;
}
body main .api div img {
  max-width: 250px;
}
body main #allTheUsers,
body main #allTheImgs,
body main #allTheTemps {
  display: none;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
