doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel='stylesheet' href='/styles.css')
        link(rel='shortcut icon' href='https://images.craftsnherbs.com/bee/IMG_0992.jpg')
        title Favorite Images Project
    body
        header
            h1 Welcome visitor to my Favorite Images Project
            nav
                a(href='/') Pug Home
                a(href='https://dojo-ninja.com') Main Site Home
                a(href='/nasa') Nasa API
                a(href='/tunes') Tunes API
                a(href='/api') The Data
                a(href="/analysis") Project Conclusions 
        main
            h1 Project Analysis & Conclusions
            h3 Here is where I will document some of the things that I have noticed while building this project
            div(class='row')
                div(class='column')
                    h2 Code / Building Observations 
                    ul
                        li
                div(class='column')
                    h2 Deployment Observations 
                    ul
                        li
            div(class='row')
                div(class='column')
                    h2 Front End Observations 
                    ul 
                        li
                div(class='column')
                    h2 Back End Observations
                    ul 
                        li
        footer
            h4 Created by Melissa Longenberger
            h4 Started - May 3rd 2022 - Completed - TBD
            h4 Last updated - July 2nd 2022
            h4
                a(href="https://github.com/melissa-24/favoriteImages" target="_blank") Source Code