<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Images</title>
</head>
<body>
    <header>
        <h1>Welcome to our Favorite Images App</h1>
        <h2>The Flask Only Full Stack Version</h2>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <div class="row">
            <form action="/login/" method='post'>
                <section>
                    <label for="username">Username: </label>
                    <input type="text" name='username'>
                </section>
                <h2>OR</h2>
                <section>
                    <label for="email">Email: </label>
                    <input type="email" name="email">
                </section>
                <section>
                    <label for="password">Password: </label>
                    <input type="password" name='password'>
                </section>
                <button>Login</button>
            </form>
            <form action="/register/" method='post'>
                <section>
                    <label for="firstName">First Name: </label>
                    <input type="text" name="firstName">
                </section>
                <section>
                    <label for="lastName">Last Name: </label>
                    <input type="text" name='lastName'>
                </section>
                <section>
                    <label for="email">Email: </label>
                    <input type="email" name="email">
                </section>
                <section>
                    <label for="username">Username: </label>
                    <input type="text" name="username">
                </section>
                <section>
                    <label for="password">Password: </label>
                    <input type="password" name="password">
                </section>
                <section>
                    <label for="confirm">Confirm Password: </label>
                    <input type="password" name="confirm">
                </section>
                <button>Register and Login</button>
            </form>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>