<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Images</title>
</head>
<body>
    <header>
        <h1>Favorite Images App</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <h1>Welcome {{user.fullName()}}</h1>
        <div class='nasa'>
            <h3>Astronomy Photo of the Day</h3>
        <button id="button">Click to see today's photo of the day</button>
        <div class='photo'></div>
    </div>
    </main>
    <footer>

    </footer>
    <script type='text/javascript' src="{{ url_for('static', filename='js/key.js')}}"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/nasa.js')}}"></script>
</body>
</html>