<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>All Users</title>
</head>
<body>
    <header>
        <h1>Welcome {{you.fullName()}}</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <h1>View what others have Saved</h1>
        <table>
            <tr>
                <th>UserName</th>
                <th>View</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{user.username}}</td>
                    <td>
                        {% if user.id == you.id %}
                            <button><a href="/dashboard/">Dashboard</a></button>
                        {% else %}
                            <button><a href="/users/{{user.id}}/view/">View</a></button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>