<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="https://images.craftsnherbs.com/bee/IMG_0992.jpg" type="image/x-icon">
    <title>{{user.fullName()}}</title>
</head>
<body>
    <header>
        <h1>Favorite Images App</h1>
        <h1>Welcome {{you.fullName()}}</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <h1>{{user.username}}</h1>
        <button id="image">Show {{user.username}}'s Images</button>
        <div class="row">
            <div id="images">
                <div class="row">
                    {% for image in images.favs %}
                        {% if user.id == image.user_id %}
                            <div class="column">
                                <img src="{{image.img}}" alt="{{image.name}}">
                                <h4>{{image.name}}</h4>
                                <form action="/images/create/" method="post">
                                    <input type="hidden" name="name" value="{{image.name}}">
                                    <input type="hidden" name="img" value="{{image.img}}">
                                    <button>Save to your favorites</button>
                                </form>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </main>
    <footer>

    </footer>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>