{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>All Users</title>
</head>
<body>
    <header>
        <h1>Welcome {{user.firstName}} {{user.lastName}}</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <div class="messages">
        {% if messages %}
            {% for m in messages %}
                <h5>{{m}}</h5>
            {% endfor %}
        {% endif %}
    </div>
    <main>
        <h1>View what others have Saved</h1>
        <table>
            <tr>
                <th>UserName</th>
                <th>View</th>
            </tr>
            {% for u in users %}
                <tr>
                    <td>{{u.username}}</td>
                    <td>
                        {% if u.id == user.id %}
                            <button><a href="/dashboard/">Dashboard</a></button>
                        {% else %}
                            <button><a href="/users/{{u.id}}/view/">View</a></button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </main>
    <footer>

    </footer>
    <script type='text/javascript' src="{% static 'js/key.js' %}"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src='{% static "js/script.js"%}'></script>
</body>
</html>