doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel='stylesheet' href='/styles.css')
        title Favorite Images Project
    body
        header
            h1 Welcome visitor to my Favorite Images Project
            nav
                a(href='/') Pug Home
                a(href='https://dojo-ninja.com') Main Site Home
                a(href='/nasa') Nasa API
                a(href='/tunes') Tunes API
                //- a(href='/api') The Data
        main
            h1 Purpose
            p As a Web Developer Instructor at Coding Dojo I have been teaching the basic Web Fundamentals and Python/Flask courses.  I have built many website and applications as a result.  However May 2022 offered me the chance to be a backup instructor and allowed me the chance to learn or get better at the other stacks.  Since I already know React and Express/Node I just need to brush up on them and better understand Mongo and I could be ready to teach the MERN stack.  However Java is the language chosen to learn. As our students progress through our program their last unit is where they essentially build a Capstone project.  So as I was being given the chance to be a student again I chose to also create one.
            p For my Capstone Project I have chosen to rebuilt a website that I have built as a demo to show new Python students what they can build.  However I added a twist.  Not only am I going to build or rebuild that project but I am going to do it in different frameworks and languages.  Can I have a React Front End with a Django Back End?  I am sure as I go through the process of building the different combinations it will grow and evolve.
        footer
            h4 Created by Melissa Longenberger
            h4 Started - May 3rd 2022 - Completed - TBD
            h4
                a(href="https://github.com/melissa-24/favoriteImages" target="_blank") Source Code