doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel='stylesheet' href='/css/styles.css')
        title Nasa API
    body
        header
            h1 Nasa API
            nav
                a(href='/') Pug Home
                a(href='https://dojo-ninja.com') Main Site Home
                a(href='/nasa') Nasa API
                a(href='/tunes') Tunes API
                //- a(href='/api') The Data
        main
            div(class='nasa')
                h3 Astronomy Photo of the Day 
                button(id='button') Click to see today's photo of the day
                div(class='photo')
        footer
            h4 Created by Melissa Longenberger
            h4 Started - May 3rd 2022 - Completed - TBD
            h4
                a(href="https://github.com/melissa-24/favoriteImages" target="_blank") Source Code
        script(src='/js/key.js')
        script(src='https://code.jquery.com/jquery-2.1.3.min.js')
        script(src='/js/scripts.js')
        script(src='/js/nasa.js')