doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel='stylesheet' href='/css/styles.css')
        link(rel='shortcut icon' href='https://images.craftsnherbs.com/bee/IMG_0992.jpg')
        title Favorite Images Project
    body
        header
            h1 Favorite Images Project
            nav
                a(href='/') Pug Home
                a(href='https://dojo-ninja.com') Main Site Home

        main
            div(class='row')
                h2 Dashboard